---
layout: page
title: 水轉印　自動噴漆
excerpt: "台北工廠提供高品質水轉印、自動噴漆服務。表面處理：PU塗裝、UV烤漆、鋼琴鏡面烤漆。"
search_omit: true
---

<div>服務項目</div>
<h2><a href="{{ site.url }}/water-transfer-printing/">水轉印</a></h2>
<p>本工廠提供水轉印服務，是可以將圖案印上立體物品的技術。可用於大部分材質，有多種圖案可選。常用於各種外殼。</p>
<p>水轉印，也稱作立體曲面披覆印刷，是經由彩衣水轉印膜的幫助來轉印。而水轉印膜為水溶性塑料薄膜（PVA膜），具有可伸縮性，能藉此克服平面印刷的缺點把圖案印到凹凸面。基本流程為：上底漆、烘乾、轉印、水洗、烘乾...</p>

<h2>自動噴漆</h2>
<p>各種表面塗裝處理服務：PU塗裝、UV烤漆、鋼琴鏡面烤漆。可以處理各種物件，熟悉不同物件表面處理的加工技巧。</p>
<p>本廠用有自動噴漆設備，可進行大量產出，且價格優惠。</p>

<h2>本廠簡介</h2>
<p>本工廠為成立多年的公司，專門於各種表面處理，讓產品的外貌可以呈現不同的風格。設有機台為客服務，擁有自動噴漆設備可量產成品，擅長多種塗裝技巧。追求高品質處理技術，為客戶的成品提升質感。有水轉印設備，協助客戶進行成品外觀上的升級。</p>

<!--
<ul class="post-list">
{% for post in site.posts limit:10 %} 
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>
-->
